body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  /* font-weight: 500; */
  font-size:medium;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
  color: white;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.cart-link:active, cart-link:focus {
	outline: none; 
}




/*
* remove
*/


.table-image {
  
  thead {
    td, th {
      border: 0;
      color: #666;
      font-size: 0.8rem;
    }
  }
  
  td, th {
    vertical-align: middle;
    text-align: center;
    
    &.qty {
      max-width: 2rem;
    }
  }
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

.order-row {
	height: 50px;
	background-color: #e7ecec;
	margin-top: 10px;
	width: 400px;
	margin-left: 140px;
	align-content: center;
}

.create-new-item {
	margin-bottom: 10px;
}

.table-users {
	margin-top: 20px;
}



.login-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 200px;
    padding-left: 15px;
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.sign-up {
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.main-nav-row{
	width: 100%;
	height: 55px;
	align-items: center;
	font-size: large;
}

.item-card{
	width: 18rem;
	height: 6rem;
}


.d-block {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}


.main-dashboard-container{
	margin-top: 20px;
}

.review-container {
  width: 200px;
  background: #707475;
  height: 40px;
  margin-top: 20px;
}

.top-star {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

span.stars, span.stars span {
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star-o-white.svg) 0 0 repeat-x;
  width: 200px; /* width of a star multiplied by 5 */
  height: 40px; /* the height of the star */
  background-size: 40px 40px;
}

span.stars span {
  background-position: 0 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star.svg);
}


